@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=JetBrains+Mono');

::selection {
    background-color: rgba(255, 255, 255, .76);
    color: #000
}
body {
    background-color: black;
    color: rgba(255, 255, 255, 0.76);
    font-family: 'JetBrains Mono';
    font-weight: 200;
    line-height: 2;
    letter-spacing: 1.5;
    font-size: 12px;
}


h2, h3, h4 {
    color: #fff;
    font-weight: bold;
    font-size: 12px;
}
h1 { 
    color: #fff;
    font-weight: bold;
    font-size: 14px;
}
a:hover {
    background-color: rgba(255, 255, 255, 0.76);
    color: black;
}

blockquote {
    display: flex; 
    align-items: center;
    color: rgba(255, 255, 255, .50);
    border-left: 3px solid rgb(87, 87, 87);
    padding-left: 0.5rem;
}
blockquote p {
    line-height: 1.3;
}